:root {
  --bg-color: #eeeeee;
  --text-color: #000000;
  --surface-text-color: #000000;
  --surface-bg-color: #ffffff;
  --error-text-color: #ee1111;
  --error-bg-color: #ee8888;
  --success-text-color: #11ee11;
  --success-bg-color: #88ee88;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #111111;
    --text-color: #ffffff;
    --surface-text-color: #ffffff;
    --surface-bg-color: #000000;
    --error-text-color: #ee1111;
    --error-bg-color: #ee8888;
    --success-text-color: #11ee11;
    --success-bg-color: #88ee88;
  }
}

html {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}
